* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content: space-between;

    background-color:gray;
    color: black;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

.sup {
    color: black;
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.sup::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    bottom: 0;
    background: blue;
    transition: width 0.3s ease;
}

.sup:hover::after{
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    position: relative;
    color: green;
    display: inline-block;
    font-weight: bold;
    border-bottom: transparent 2px solid;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    bottom: 0;
    background: blue;
    transition: width 0.3s ease;
   }

nav ul li a:hover::after {
    width: 100%;

}
